@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="panel panel-primary-two">
    <div class="panel-heading">
        <div class="panel-heading-left clearfix">
            <div class="title-block">
                <span>Đăng nhập thành viên</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="content signed clearfix">
            <div class="nv-info" style="display:none"></div>
            <div class="userBlock">
                <h3 class="text-center margin-bottom-lg">
                    <span class="lev-user text-normal margin-right">Tài khoản:</span>Tạ Đức Hoàn
                </h3>
                <div class="row margin-bottom-lg">
                    <div class="col-xs-8 text-center">
                        <a title="" href="#">
                            <img src="~/Adminassets/images/logo/user.png" alt="Tạ Đức Hoàn"
                                 class="img-thumbnail bg-gainsboro">
                        </a>
                    </div>
                    <div class="col-xs-16">
                        <ul class="nv-list-item sm">
                            <li class="active">
                                <a href="/vi/users/">Thông tin thành viên</a>
                            </li>
                            <li>
                                <a href="/vi/users/editinfo/">Thiết lập tài khoản</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-16 small">
                        <em class="fa fa-clock-o" title="Đăng nhập vào">&nbsp;</em>03/11, 00:36
                    </div>
                    <div class="col-xs-8 text-right">
                        <button type="button" class="btn btn-default btn-sm active">
                            <em class="fa fa-sign-out"></em>&nbsp;Thoát&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>