@using MultipleChoiceTest.Domain.Models
@model User


<div class="panel panel-primary-two">
    <div class="panel-heading">
        <div class="panel-heading-left clearfix">
            <div class="title-block text-center">
                <span>Đăng nhập thành viên</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="content signed clearfix">
            <div class="nv-info" style="display:none"></div>
            <div class="userBlock">
                <h3 class="text-center margin-bottom-lg">
                    <span class="lev-user text-normal margin-right">Tài khoản:</span> @Model.UserName
                </h3>
                <div class="row margin-bottom-lg">
                    <div class="col-md-4 text-center">
                        <a title="" href="#">
                            <img src="~/Adminassets/images/logo/user-1.png" alt=" @Model.UserName"
                                 class="img-thumbnail bg-gainsboro">
                        </a>
                    </div>
                    <div class="col-md-8">
                        <ul class="nv-list-item sm">
                            <li class="active">
                                <a href="/User/Index">Thông tin thành viên</a>
                            </li>
                            <li>
                                <a href="/User/UserBasic">Thiết lập tài khoản</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 small">
                        <em class="fa fa-clock-o" title="Đăng nhập vào">&nbsp;</em>03/11, 00:36
                    </div>
                    <div class="col-md-4 text-right">
                        <button type="button" class="btn btn-default btn-sm active">
                            <em class="fa fa-sign-out"></em>&nbsp;Thoát&nbsp;
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>