.login-box {
    margin: auto;
    width: 100%;
}

.form-detail {
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.input-group-addon {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

