
@font-face {
    font-family: 'ProximaSoft';
    src: url(/assets/fonts/ProximaSoft-Blacklt.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: #EBEBEC url(/assets/images/background-body.jpg) repeat;
    /* background: #EBEBEC url(/assets/images/background.jpg) repeat; */
    font-size: 13px;
    user-select: none;
    line-height: 18px;
    font-family: 'ProximaSoft';
}

.menu_header {
    border: 1px solid #006699;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 22px 0;
    background-color: #ec7345;
    box-shadow: 0px 0px 0px 1px #5fc2e5 inset;
}

.menu_background {
    /* border: 1px dashed #fff200; */
    border-radius: 5px;
    background-color: #ec7345;
    /* background: url(/assets/images/bg-menu.png) repeat-x; */
}

.navbar {
    min-height: 36px;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
}

.navbar-static-top {
    z-index: 1;
}

#search {
    float: right;
}

.headerSearch {
    margin-top: 7px;
    margin-right: 20px;
}

.search_header {
    background: #FFF;
    border: 1px solid #006699;
    width: 170px;
    border-radius: 3px;
}

#search input[type="text"] {
    border: 0px #66afe9 solid;
}

.search_header input {
    background: transparent;
    color: #333;
    height: 26px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search_header .input-group-btn {
    height: 26px;
}

.input-group-btn {
    font-size: 14px !important;
}

.search_header .input-group-btn button {
    height: 26px;
    background-color: transparent;
    border-width: 0px;
    padding: 0px 10px;
}

.btn {
    border-radius: 0px;
}

.form-control {
    font-size: 13px;
}

.navbar-nav {
    flex-direction: row;
    margin: 3px 5px;
    float: left;
}

.nav > li {
    padding: 2px 0px 1px;
}

.navbar-collapse.collapse {
    display: flex !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    justify-content: space-between;
    padding-right: 10px;
}

.navbar-nav > li {
    float: left;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.navbar-nav > li > a {
    white-space: nowrap;
    padding: 5px 13px;
    border-radius: 20px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu {
    float: left;
    padding: 0;
    top: auto;
    left: auto;
    display: none;
    background: #a52d00;
    color: #FFFFFF;
    border: 1px solid #a52d00;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-radius: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu > li {
    padding: 0;
    border-bottom: 1px dotted #f1f1f1;
}

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        white-space: nowrap;
    }

    .dropdown-menu > li > a {
        font-size: 12px;
        line-height: 18px;
        color: #f2f2f2;
    }


a {
    text-decoration: none;
}

.dropdown-submenu ul.submenu {
    display: none !important;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.clearfix:before {
    content: " ";
    display: table;
}

.dropdown-submenu:hover ul.submenu {
    display: block !important;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}









/* main */
.content {
    background-color: #FFFFFF;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

    .content > .content-heading {
        border: 1px dashed #d17407;
        padding: 10px;
        border-radius: 8px;
    }

.row:before, .panel-body:before {
    content: " ";
    display: table;
}

.test.viewlist .panel {
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-bottom: 1px dashed #d17407;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
}

    .panel-default > .panel-body {
        padding: 0px;
    }

.viewlist h2 {
    font-weight: bold;
    margin: 0;
}

.panel-default > .panel-body h2 a {
    font-size: 16px;
    color: #006699;
    font-weight: bold;
}

.panel-body ul {
    margin: 0px;
    padding: 0px;
}

.css-exam-info {
    font-size: 12px !important;
}

.exam-info {
    color: #428bca;
}

.css-exam-info > li {
    margin-bottom: 0px !important;
    padding-left: 0;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.exam ul.help-block {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px !important;
}

ul.help-block li {
    color: #737373 !important;
}

.panel-body ul {
    margin: 0px;
    padding: 0px;
}

.exam ul.help-block > li {
    padding-left: 0;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Proxima Soft', sans-serif;
    line-height: 22px;
}

.panel-primary-two {
    border: 1px solid #cccccc;
    background-color: #e3f8ff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

    .panel-primary-two > .panel-heading {
        border: 1px solid #006699;
        border-radius: 5px;
        padding: 4px;
        margin: -2px;
        background-color: #ec7345;
        box-shadow: 0px 0px 0px 1px #5fc2e5 inset;
    }

        .panel-primary-two > .panel-heading > .panel-heading-left {
            border: 1px dashed #fff200;
            border-radius: 5px;
            background-color: #ec7345;
            /* background: url(/assets/images/bg-menu.png) repeat-x; */
        }

            .panel-primary-two > .panel-heading > .panel-heading-left div.title-block {
                padding: 10px 30px;
            }

                .panel-primary-two > .panel-heading > .panel-heading-left div.title-block span {
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: bold;
                    font-family: 'Proxima Soft';
                    text-transform: uppercase;
                    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
                }

    .panel-primary-two > .panel-body {
        padding: 5px;
    }

.tableUsers .userRow {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 8px 2px;
    cursor: pointer;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.tableUsers .userRow .score {
    flex: 1 1 0;
    font-weight: 600;
}

.top3 {
    font-weight: bold;
}

.text-red {
    color: #f00;
}

.panel {
    box-shadow: 0px 0px 0px;
    margin-bottom: 10px;
}


.nv-list-item {
    list-style: none;
}

    .nv-list-item li {
        padding: 4px;
        margin: 0;
        margin-bottom: 0px !important;
    }

.pull-right {
    float: right !important;
}

#footer {
    padding: 20px;
    background-color: #b4481e;
    /* background: #006699 url(/assets/images/bg-footer.png); */
    margin-top: 0px;
    padding-top: 4px;
    color: #FFFFFF;
}

    #footer .footer-copyright {
        color: #fff;
        font-size: 12px;
        line-height: 18px;
        padding: 0px 0px;
    }

        #footer .footer-copyright .container {
            background-color: #b4481e;
            /* background: #006699 url(/assets/images/bg-footer.png); */
            padding-top: 0px;
            margin-top: -2px;
        }

a, a:link, a:active, a:visited {
    color: #3a3a3a;
}

.margin-bottom-lg {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}


.breadcrumb {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px dashed #d17407;
    padding: 8px 15px;
    list-style: none;
    border-radius: 4px;
}

    .breadcrumb > li {
        display: inline-block;
    }

        .breadcrumb > li + li:before {
            content: "/\00a0";
            padding: 0 5px;
            color: #ccc;
        }

h2, .h2 {
    font-size: 16px;
}

.bg-lavender {
    background-color: #EEEEEE;
    padding: 10px !important;
    border: 1px solid #D8D8D8;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary {
    background-color: #0ba4d7;
    border-color: #37acd4;
    border-radius: 3px;
}

.tag-underline {
    text-decoration: underline;
    font-style: italic;
}


.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #33ccff;
    border-color: #37acd4;
}


.well {
    padding: 8px;
    line-height: 18px;
    text-align: justify;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.panel-default > .panel-heading {
    background-image: url(/assets/images/bg-content.png);
    background-repeat: repeat-x;
    background-position: center;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    padding: 0px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
}

h3, .h3 {
    font-size: 14px;
}

/* exam-info */

.sticky-exams {
    position: sticky;
    top: 10px;
}

.template2 {
    border: 1px solid #CCC;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
}

    .template2 h1 {
        color: #00a651;
        margin-top: 0;
    }

    .template2 .exam-info {
        padding: 10px 0;
        text-align: left;
    }

.exam-info {
    color: #428bca;
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

.exam-info li {
    margin-bottom: 0px !important;
}

.exam-info label {
    margin: 6px 0;
}

label {
    font-weight: bold;
}

h1, .h1 {
    font-size: 18px;
}

.template2 button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}


.template2 button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.btn-success {
    background-color: #df8701;
    border-color: #dca34d;
    border-radius: 3px;
}

.cancelLink {
    font-size: 14px;
    padding-left: 10px;
    color: red !important;
}


/* start-exam */
.question-box .answer {
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

#questionlist label {
    font-weight: normal;
    margin-bottom: 10px;
}

.testing .answer .letter {
    padding-right: 5px;
    min-width: 50px;
    vertical-align: top;
}

    .testing .answer .letter p {
        margin: 0px;
    }

    .testing .answer .letter input {
        margin-right: 7px;
    }

input[type="checkbox"], input[type="radio"] {
    border-width: 1px;
    border-style: solid;
    border-color: #bbb;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: 0px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    box-sizing: border-box;
    color: #555;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

input[type=radio] {
    border-radius: 50%;
    line-height: 10px;
}

.form-check {
    padding-left: 0;
}

#questionlist label {
    font-weight: normal;
    margin-bottom: 10px;
}

.testing ul {
    padding: 0;
}

.slides-vertical-pagination {
    float: left;
}

.testing ul li {
    line-height: 20px;
}

.slides-vertical-pagination li {
    float: left;
    padding: 7px 2px 5px;
    cursor: pointer;
}

    .slides-vertical-pagination li .pagination-item-name {
        border: 1px solid #ccc;
        padding: 5px;
    }

.pagination-active .pagination-item-name {
    background: #00a651 !important;
    color: #fff;
}

.score-box, #timer-box {
    font-size: 18px;
    margin: 4px 0;
}

    #timer-box span:first-child {
        color: #428bca;
        font-weight: bold;
    }

    #timer-box span {
        margin-right: 5px;
    }

.test-gird #countdown {
    color: red;
    font-weight: bold;
    font-size: 40px;
}

.test-gird #countdown {
    padding: 20px 0;
}

.jst-hours, .jst-minutes, .jst-seconds {
    display: inline;
}

.slides-vertical-pagination li .pagination-item-name {
    border: 1px solid #ccc;
    padding: 5px;
}

.item-answed .pagination-item-name {
    color: #ff0;
    background: #0a6fd2;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.textarea-answer {
    height: 90px;
    width: 100%;
}


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 4px;
}

.pagination {
    margin: 10px 0px;
}

    .pagination > li {
        display: inline;
    }

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

#questionlist .is_success {
    border: solid 2px green;
}

#questionlist .is_danger {
    border: solid 2px red;
    padding: 10px;
}

ul.slides-vertical-pagination li.is_danger span {
    background-color: red;
    color: #fff;
}

.score-box .score {
    font-size: 40px;
    line-height: 40px;
}

.exam-info {
    color: #428bca;
    font-size: 16px;
}

.exam-result {
    color: #428bca;
    font-weight: bold;
    text-transform: uppercase;
}

#questionlist {
    font-size: 16px;
}
.istrue {
    background: yellow;
}
/* user info */
/*
.margin-bottom {
    margin-bottom: 10px;
}

.nav > li {
    padding: 2px 0px 1px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #009edb url(/assets/images/bg-menu.png) repeat-x;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        color: #fff;
        background-color: #428bca;
    }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a:hover {
    text-decoration: none;
    color: #333;
}

a, a:link, a:active, a:visited {
    color: #3a3a3a;
}

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    a:hover, a:focus {
        color: #2a6496;
        text-decoration: underline;
    }

    a:active, a:hover {
        outline: 0;
    }

.users-menu > li > a {
    padding: 8px !important;
}

.nav-pills > li > a {
    border-radius: 4px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.form-detail {
    padding: 10px;
}

.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
}

.form-group {
    margin-bottom: 15px !important;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 33.5%;
        margin-left: 30px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
    */