<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MultipleChoiceTest.Web</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/contact.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <a href="">
                    <img src="/assets/images/banner_new-3-3.png" height="154" style="width: 100%;"
                         alt="Hệ thống Ôn thi trắc nghiệm">
                </a>
            </div>
        </div>
    </header>
    @await Component.InvokeAsync("Navbar")
    <div class="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <footer id="footer">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 col-sm-24 col-md-12">
                        <div class="panel-body">
                            <div class="powered fr">
                                © Bản quyền thuộc về <a href="https://fb.com/buiphukhuyen" style="color:#ffff00"
                                                        title="Tạ Đức
                                    Hoàn" target="_blank" rel="noopener noreferrer nofollow">
                                    Tạ Đức
                                    Hoàn
                                </a>.
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24 col-sm-24 col-md-12">
                        <div class="panel-body">
                            <div class="theme-change fr">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
