@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-primary-two">
    <div class="panel-heading">
        <div class="panel-heading-left clearfix">
            <div class="title-block text-center">
                <span>Thống kê truy cập</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nv-list-item">
            <li>
                <em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">28</span>
            </li>
            <li>
                <em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">5</span>
            </li>
            <li>
                <em class="fa fa-magic fa-lg">&nbsp;</em> Máy chủ tìm kiếm <span class="pull-right">4</span>
            </li>
            <li>
                <em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">19</span>
            </li>
        </ul>
        <div class="nv-hr">&nbsp;</div>
        <ul class="nv-list-item">
            <li>
                <em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">12,593</span>
            </li>
            <li>
                <em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">343,312</span>
            </li>
            <li>
                <em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,173,559</span>
            </li>
        </ul>

    </div>
</div>

