@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="panel panel-primary-two">
    <div class="panel-heading">
        <div class="panel-heading-left clearfix">
            <div class="title-block text-center">
                <span>BẢNG XẾP HẠNG ĐIỂM CAO</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="tableUsers form-tooltip">
            <div class="userRow top3" data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li><label>Tài khoản:</label> Hồ Thị Mỹ Trà</li></ul>">
                <div class="member">
                    <div class="name">
                        <img src="/assets/images/medal_0.png" alt="" width="20">
                        Hồ Thị Mỹ Trà
                    </div>
                    <a href="/vi/test/lich-su-dang-cs-viet-nam/thi-thu-lich-su-dang-cs-viet-nam-457.html"
                       title="[ĐỀ THI THỬ] Lịch sử Đảng CS Việt Nam">
                        <small class="help-block"
                               style="width: 150px;">[ĐỀ THI THỬ] Lịch sử Đảng CS Việt Nam</small>
                    </a>
                </div>
                <div class="score" style="text-align: right;">
                    <span class="text-red">9.11</span>/10
                </div>
            </div>
            <div class="userRow " data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li><label>Tài khoản:</label> Thịnh Nguyễn</li></ul>">
                <div class="member">
                    <div class="name">
                        <img src="" alt="" width="20">
                        Thịnh Nguyễn
                    </div>
                    <a href="/vi/test/nhap-mon-he-dieu-hanh/de-thi-thu-anh-ngu-2-ngu-phap-700-copy-717.html"
                       title="[ĐỀ THI THỬ] Nhập môn Hệ điều hành">
                        <small class="help-block"
                               style="width: 150px;">[ĐỀ THI THỬ] Nhập môn Hệ điều hành</small>
                    </a>
                </div>
                <div class="score" style="text-align: right;">
                    <span class="text-red">9.11</span>/10
                </div>
            </div>
            <div class="userRow " data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li><label>Tài khoản:</label> Innhy.05 Innhy.05</li></ul>">
                <div class="member">
                    <div class="name">
                        <img src="" alt="" width="20">
                        Innhy.05 Innhy.05
                    </div>
                    <a href="/vi/test/tu-tuong-ho-chi-minh/thi-thu-tu-tuong-ho-chi-minh-494.html"
                       title="[ĐỀ THI THỬ] Tư Tưởng Hồ Chí Minh">
                        <small class="help-block"
                               style="width: 150px;">[ĐỀ THI THỬ] Tư Tưởng Hồ Chí Minh</small>
                    </a>
                </div>
                <div class="score" style="text-align: right;">
                    <span class="text-red">8.89</span>/10
                </div>
            </div>
        </div>
    </div>
</div>
