@model CUUser

@{
    ViewData["Title"] = "Cập nhật Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_GlobalLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <form asp-action="Edit">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-controller="Dashboard" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-controller="Lessons" asp-action="Index" class="breadcrumb-item">Danh sách người dùng</a>
                        <span class="breadcrumb-item active">Cập nhật</span>
                    </nav>
                </div>
            </div>
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class=" col-md-6">
                        </div>
                        <div class=" col-md-6 text-right">
                            <a class=" btn btn-success fas fa-undo-alt" asp-action="Index"></a>
                            <button class="btn btn-primary" type="submit"><i class="fas fas fa-save mr-1"></i>Xác nhận</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="form-group col-md-6">
                            <label asp-for="UserName">Tên người dùng <span class="text-danger">*</span></label>
                            <input asp-for="UserName" class="form-control" is-valid required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email">Email <span class="text-danger">*</span></label>
                            <input asp-for="Email" class="form-control" is-valid required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Gender">Giới tính<span class="text-danger">*</span></label>
                            <input asp-for="Gender" class="form-control" is-valid required />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="DateOfBirth">Ngày sinh<span class="text-danger">*</span></label>
                            <input asp-for="DateOfBirth" class="form-control" is-valid required />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Phone">Số điện thoại<span class="text-danger">*</span></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="AccountName">Tài khoản người dùng<span class="text-danger">*</span></label>
                            <input asp-for="AccountName" class="form-control" is-valid required />
                            <span asp-validation-for="AccountName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PasswordHash">Mật khẩu<span class="text-danger">*</span></label>
                            <input asp-for="PasswordHash" class="form-control" is-valid required />
                            <span asp-validation-for="PasswordHash" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="IsAdmin">Quản trị viên</label>
                            <input asp-for="IsAdmin" class="form-control" style="width: 21px;height: 21px; margin-left:200px;" />
                            <span asp-validation-for="IsAdmin" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}