@using MultipleChoiceTest.Domain.ModelViews
@model Login


<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất">
            <span itemprop="name">Trang nhất</span>
        </a><i class="hidden" itemprop="position" content="1"></i>
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="/vi/users/" itemprop="item" title="Tài khoản Sinh viên">
            <span itemprop="name">
                Tài khoản
                Sinh
                viên
            </span>
        </a><i class="hidden" itemprop="position" content="2"></i>
    </li>
</ol>

<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="centered">
                    <div class="login-box">
                        <div class="page panel panel-default margin-top-lg box-shadow bg-lavender">
                            <div class="panel-body">
                                <h2 class="text-center margin-bottom-lg">Thành viên đăng nhập</h2>
                                <form action="/Auth/Login" method="post">
                                    <div class="form-detail">
                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <em class="fa fa-user fa-lg"></em>
                                                </span>
                                                <input type="text" class="required form-control"
                                                       placeholder="Tên đăng nhập" value=""
                                                       asp-for="AccountName" maxlength="100"
                                                       data-pattern="/^(.){3,}$/"
                                                       data-mess="Tên đăng nhập chưa được khai báo">
                                            </div>
                                        </div>

                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <em class="fa fa-key fa-lg fa-fix"></em>
                                                </span>
                                                <input type="password" autocomplete="off"
                                                       class="required form-control" placeholder="Mật khẩu"
                                                       asp-for="Password" maxlength="100"
                                                       data-pattern="/^(.){3,}$/"
                                                       data-mess="Mật khẩu đăng nhập chưa được khai báo">
                                            </div>
                                        </div>
                                        <div class="text-center margin-bottom-lg">
                                            <input type="button" value="Thiết lập lại" class="btn btn-default">
                                            <button class="bsubmit btn btn-primary" type="submit">Đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <p>Nếu bạn chưa có tài khoản <a href="/Auth/Register" class="tag-underline">Đăng ký ngay</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("RightPage", new { type = "access" })
    </div>
</div>