@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất">
            <span itemprop="name">Trang nhất</span>
        </a><i class="hidden" itemprop="position" content="1"></i>
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="/vi/users/" itemprop="item" title="Tài khoản Sinh viên">
            <span itemprop="name">
                Tài khoản
                Sinh
                viên
            </span>
        </a><i class="hidden" itemprop="position" content="2"></i>
    </li>
</ol>

<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="centered">
                    <div class="login-box">
                        <div class="page panel panel-default margin-top-lg box-shadow bg-lavender">
                            <div class="panel-body">
                                <h2 class="text-center margin-bottom-lg">Thành viên đăng nhập</h2>
                                <form action="/vi/users/login/" method="post">
                                    <div class="form-detail">
                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <em class="fa fa-user fa-lg"></em>
                                                </span>
                                                <input type="text" class="required form-control"
                                                       placeholder="Tên đăng nhập hoặc email" value=""
                                                       name="nv_login" maxlength="100"
                                                       data-pattern="/^(.){3,}$/"
                                                       data-mess="Tên đăng nhập chưa được khai báo">
                                            </div>
                                        </div>

                                        <div class="form-group loginstep1">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <em class="fa fa-key fa-lg fa-fix"></em>
                                                </span>
                                                <input type="password" autocomplete="off"
                                                       class="required form-control" placeholder="Mật khẩu"
                                                       value="" name="nv_password" maxlength="100"
                                                       data-pattern="/^(.){3,}$/"
                                                       data-mess="Mật khẩu đăng nhập chưa được khai báo">
                                            </div>
                                        </div>
                                        <div class="text-center margin-bottom-lg">
                                            <input type="button" value="Thiết lập lại" class="btn btn-default">
                                            <button class="bsubmit btn btn-primary" type="submit">Đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <p>Nếu bạn chưa có tài khoản <a href="./register.html" class="tag-underline">Đăng ký ngay</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="title-block">
                        <span>Thống kê truy cập</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">47</span>
                    </li>
                    <li>
                        <em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">14</span>
                    </li>
                    <li>
                        <em class="fa fa-magic fa-lg">&nbsp;</em> Máy chủ tìm kiếm <span class="pull-right">14</span>
                    </li>
                    <li>
                        <em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">19</span>
                    </li>
                </ul>
                <div class="nv-hr">&nbsp;</div>
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">13,331</span>
                    </li>
                    <li>
                        <em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">344,050</span>
                    </li>
                    <li>
                        <em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,174,297</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>