@using MultipleChoiceTest.Domain.ModelViews
@model Register


<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home">
        <em class="fa fa-lg fa-home">&nbsp;</em><a href="/Home/Inex" itemprop="item" title="Trang nhất">
            <span itemprop="name">Trang nhất</span>
        </a><i class="hidden" itemprop="position" content="1"></i>
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="/Auth" itemprop="item" title="Tài khoản Sinh viên">
            <span itemprop="name">
                Tài khoản
                Sinh
                viên
            </span>
        </a><i class="hidden" itemprop="position" content="2"></i>
    </li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="centered">
                    <div class="login-box">
                        <div class="page panel panel-default margin-top-lg box-shadow bg-lavender">
                            <div class="panel-body">
                                <h2 class="text-center margin-bottom-lg">Đăng ký thành viên</h2>
                                <form action="/Auth/Register" method="post">
                                    <div class="form-detail register-form">
                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="form-control required input"
                                                       placeholder="Họ và tên" asp-for="UserName"
                                                       maxlength="100" data-mess="">
                                                <span asp-validation-for="UserName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="required form-control"
                                                       placeholder="Tên đăng nhập" asp-for="AccountName"
                                                       maxlength="20" data-pattern="/^(.){4,20}$/"
                                                       data-mess="Tên đăng nhập không hợp lệ: Tên đăng nhập chỉ được sử dụng Unicode, không có các ký tự đặc biệt và có từ 4 đến 20 ký tự">
                                                <span asp-validation-for="AccountName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <input type="password" autocomplete="off"
                                                       class="password required form-control"
                                                       placeholder="Mật khẩu" value="" asp-for="PasswordHash"
                                                       maxlength="32" data-pattern="/^(.){8,32}$/"
                                                       data-mess="Mật khẩu phải từ 8 đến 32 ký tự">
                                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <input type="password" autocomplete="off"
                                                       class="re-password required form-control"
                                                       placeholder="Lặp lại mật khẩu"
                                                       asp-for="EnterPassword" maxlength="32"
                                                       data-pattern="/^(.){1,}$/"
                                                       data-mess="Bạn chưa viết lại mật khẩu vào ô nhập lại mật khẩu">
                                                <span asp-validation-for="EnterPassword" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <input type="email"
                                                       class="email required form-control"
                                                       placeholder="Email"
                                                       asp-for="Email" maxlength="52">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <div class="clearfix radio-box  input" data-mess="">
                                                    <label class="col-md-4 control-label  input" title="">
                                                        Giới tính
                                                    </label>
                                                    <div class="btn-group col-md-7" style="column-gap: 7px;">
                                                        <label class="radio-box d-flex align-items-center">
                                                            <input type="radio" asp-for="Gender" value="Nam"
                                                                   class="input" checked="checked"> Nam
                                                        </label>
                                                        <label class="radio-box d-flex align-items-center">
                                                            <input type="radio" asp-for="Gender" value="Nữ"
                                                                   class="input"> Nữ
                                                        </label>
                                                        <label class="radio-box d-flex align-items-center">
                                                            <input type="radio" asp-for="Gender" value="N"
                                                                   class="input"> N/A
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="date"
                                                       class="form-control bg-white input"
                                                       placeholder="Ngày tháng năm sinh"
                                                       asp-for="DateOfBirth" style="width: 100%;">
                                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div>
                                                <input type="text" class="form-control  input"
                                                       placeholder="Điện thoại"
                                                       asp-for="Phone" id="nvcf-phone">
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="text-center margin-bottom-lg">
                                            <input type="button" value="Thiết lập lại"
                                                   class="btn btn-default">
                                            <input type="submit" class="btn btn-primary"
                                                   value="Đăng ký thành viên">
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <p>
                                        Bạn đã có tài khoản? <a href="./login.html"
                                                                class="tag-underline">Đăng nhập</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("RightPage", new { type = "access" })

    </div>
</div>