@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
    <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất">
            <span itemprop="name">Trang nhất</span>
        </a><i class="hidden" itemprop="position" content="1"></i>
    </li>
    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
        <a href="/vi/users/" itemprop="item" title="Tài khoản Sinh viên">
            <span itemprop="name">Liên hệ</span>
        </a><i class="hidden" itemprop="position" content="2"></i>
    </li>
</ol>
<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="page">
                    <div class="well">
                        Để không ngừng nâng cao chất lượng dịch vụ và đáp ứng tốt hơn nữa các yêu cầu của
                        Quý khách, chúng tôi mong muốn nhận được các thông tin phản hồi. Nếu Quý khách có
                        bất kỳ thắc mắc hoặc đóng góp nào, xin vui lòng liên hệ với chúng tôi theo thông tin
                        dưới đây. Chúng tôi sẽ phản hồi lại Quý khách trong thời gian sớm nhất.
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <ul class="list-inline list-inline-title">
                                        <li>
                                            <h3><a><span>Kỹ thuật</span></a></h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-primary" style="margin: 0px;">
                                <div class="panel-heading">
                                    <div class="panel-heading-left clearfix">
                                        <div class="title-block">
                                            <span>Gửi phản hồi</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body loadContactForm">
                                    <div class="nv-fullbg">
                                        <form method="post" action="/vi/contact/" novalidate="">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-folder-open fa-lg fa-horizon">
                                                        </em>
                                                    </span>
                                                    <select class="form-control" name="fcat">
                                                        <option value="0">
                                                            Chủ đề bạn quan tâm
                                                        </option>
                                                        <option value="1">
                                                            Tài khoản đăng nhập
                                                        </option>
                                                        <option value="2">
                                                            Đề thi trắc nghiệm
                                                        </option>
                                                        <option value="3">
                                                            Ví tiền
                                                        </option>
                                                        <option value="4">
                                                            Yêu cầu xoá dữ liệu Facebook
                                                        </option>
                                                        <option value="5">
                                                            Vấn đề khác
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-file-text fa-lg fa-horizon">
                                                        </em>
                                                    </span>
                                                    <input type="text" maxlength="255"
                                                           class="form-control required" value="" name="ftitle"
                                                           placeholder="Tiêu đề" data-pattern="/^(.){3,}$/"
                                                           data-mess="Vui lòng nhập tiêu đề">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-user fa-lg fa-horizon"></em>
                                                    </span>
                                                    <input type="text" maxlength="100" value="" name="fname"
                                                           class="form-control required"
                                                           placeholder="Họ và tên" data-pattern="/^(.){3,}$/"
                                                           data-mess="Vui lòng nhập chính xác họ và tên">
                                                    <span class="input-group-addon pointer"
                                                          title="Đăng nhập">
                                                        <em class="fa fa-sign-in fa-lg"></em>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-envelope fa-lg fa-horizon"></em>
                                                    </span>
                                                    <input type="email" maxlength="60" value=""
                                                           name="femail" class="form-control required"
                                                           placeholder="Email"
                                                           data-mess="Vui lòng nhập email khả dụng">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-phone fa-lg fa-horizon"></em>
                                                    </span>
                                                    <input type="text" maxlength="60" value="" name="fphone"
                                                           class="form-control" placeholder="Điện thoại">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fa fa-home fa-lg fa-horizon"></em>
                                                    </span>
                                                    <input type="text" maxlength="60" value=""
                                                           name="faddress" class="form-control"
                                                           placeholder="Địa chỉ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <textarea cols="8" name="fcon"
                                                              class="form-control required" maxlength="1000"
                                                              placeholder="Nội dung"
                                                              data-mess="Vui lòng nhập nội dung"></textarea>
                                                </div>
                                            </div>
                                            <div class="text-center form-group">
                                                <input type="hidden" name="checkss"
                                                       value="679564b66651b9767080ffbeabdf1d36">
                                                <input type="button" value="Nhập lại"
                                                       class="btn btn-default">
                                                <input type="submit" value="Gửi đi" name="btsend"
                                                       class="btn btn-primary">
                                            </div>
                                        </form>
                                        <div class="contact-result alert"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="title-block">
                        <span>Thống kê truy cập</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">47</span>
                    </li>
                    <li>
                        <em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">14</span>
                    </li>
                    <li>
                        <em class="fa fa-magic fa-lg">&nbsp;</em> Máy chủ tìm kiếm <span class="pull-right">14</span>
                    </li>
                    <li>
                        <em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">19</span>
                    </li>
                </ul>
                <div class="nv-hr">&nbsp;</div>
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">13,331</span>
                    </li>
                    <li>
                        <em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">344,050</span>
                    </li>
                    <li>
                        <em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,174,297</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>