@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="content">
            <div class="content-heading">
                <div class="exam">
                    <div class="exam viewlist">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>
                                    <a href="/vi/test/phap-luat-dai-cuong/phap-luat-dai-cuong-luyen-phan-1-83.html"
                                       title="Pháp Luật Đại Cương (Luyện phần 1)">
                                        <strong>
                                            Pháp Luật Đại
                                            Cương (Luyện phần 1)
                                        </strong>
                                    </a>
                                </h2>
                                <ul class="exam-info css-exam-info list-inline form-tooltip">
                                    <li class="pointer" data-toggle="tooltip" data-original-title="Số câu">
                                        <i class="fa-regular fa-heart"></i>&nbsp;40<span class="hidden-xs">
                                            câu hỏi
                                        </span>
                                    </li>
                                    <li class="pointer" data-toggle="tooltip"
                                        data-original-title="Thời gian">
                                        <i class="fa-regular fa-clock"></i>&nbsp;30<span class="hidden-xs">
                                            phút
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-inline help-block">
                                    <li><i class="fa-regular fa-clock"></i>&nbsp;18:24 06/04/2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>
                                    <a href="/vi/test/phap-luat-dai-cuong/phap-luat-dai-cuong-luyen-phan-1-83.html"
                                       title="Pháp Luật Đại Cương (Luyện phần 1)">
                                        <strong>
                                            Pháp Luật Đại
                                            Cương (Luyện phần 1)
                                        </strong>
                                    </a>
                                </h2>
                                <ul class="exam-info css-exam-info list-inline form-tooltip">
                                    <li class="pointer" data-toggle="tooltip" data-original-title="Số câu">
                                        <i class="fa-regular fa-heart"></i>&nbsp;40<span class="hidden-xs">
                                            câu hỏi
                                        </span>
                                    </li>
                                    <li class="pointer" data-toggle="tooltip"
                                        data-original-title="Thời gian">
                                        <i class="fa-regular fa-clock"></i>&nbsp;30<span class="hidden-xs">
                                            phút
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-inline help-block">
                                    <li><i class="fa-regular fa-clock"></i>&nbsp;18:24 06/04/2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h2>
                                    <a href="/vi/test/phap-luat-dai-cuong/phap-luat-dai-cuong-luyen-phan-1-83.html"
                                       title="Pháp Luật Đại Cương (Luyện phần 1)">
                                        <strong>
                                            Pháp Luật Đại
                                            Cương (Luyện phần 1)
                                        </strong>
                                    </a>
                                </h2>
                                <ul class="exam-info css-exam-info list-inline form-tooltip">
                                    <li class="pointer" data-toggle="tooltip" data-original-title="Số câu">
                                        <i class="fa-regular fa-heart"></i>&nbsp;40<span class="hidden-xs">
                                            câu hỏi
                                        </span>
                                    </li>
                                    <li class="pointer" data-toggle="tooltip"
                                        data-original-title="Thời gian">
                                        <i class="fa-regular fa-clock"></i>&nbsp;30<span class="hidden-xs">
                                            phút
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-inline help-block">
                                    <li><i class="fa-regular fa-clock"></i>&nbsp;18:24 06/04/2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="title-block text-center">
                        <span>BẢNG XẾP HẠNG ĐIỂM CAO</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="tableUsers form-tooltip">
                    <div class="userRow top3" data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li>
                        <label>Tài khoản:</label> Hồ Thị Mỹ Trà</li></ul>">
                                    <div class="member">
                                        <div class="name">
                                            <img src="/assets/images/medal_0.png" alt="" width="20">
                                            Hồ Thị Mỹ Trà
                                        </div>
                                        <a href="/vi/test/lich-su-dang-cs-viet-nam/thi-thu-lich-su-dang-cs-viet-nam-457.html"
                                            title="[ĐỀ THI THỬ] Lịch sử Đảng CS Việt Nam"><small class="help-block"
                                                style="width: 150px;">[ĐỀ THI THỬ] Lịch sử Đảng CS Việt Nam</small></a>
                                    </div>
                                    <div class="score" style="text-align: right;">
                                        <span class="text-red">9.11</span>/10
                                    </div>
                                </div>
                    <div class="userRow " data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li>
                        <label>Tài khoản:</label> Thịnh Nguyễn</li></ul>">
                                    <div class="member">
                                        <div class="name">
                                            <img src="" alt="" width="20">
                                            Thịnh Nguyễn
                                        </div>
                                        <a href="/vi/test/nhap-mon-he-dieu-hanh/de-thi-thu-anh-ngu-2-ngu-phap-700-copy-717.html"
                                            title="[ĐỀ THI THỬ] Nhập môn Hệ điều hành"><small class="help-block"
                                                style="width: 150px;">[ĐỀ THI THỬ] Nhập môn Hệ điều hành</small></a>
                                    </div>
                                    <div class="score" style="text-align: right;">
                                        <span class="text-red">9.11</span>/10
                                    </div>
                                </div>
                    <div class="userRow " data-toggle="tooltip" data-html="true" data-original-title="<ul style='padding: 0'><li>
                        <label>Tài khoản:</label> Innhy.05 Innhy.05</li></ul>">
                                    <div class="member">
                                        <div class="name">
                                            <img src="" alt="" width="20">
                                            Innhy.05 Innhy.05
                                        </div>
                                        <a href="/vi/test/tu-tuong-ho-chi-minh/thi-thu-tu-tuong-ho-chi-minh-494.html"
                                            title="[ĐỀ THI THỬ] Tư Tưởng Hồ Chí Minh"><small class="help-block"
                                                style="width: 150px;">[ĐỀ THI THỬ] Tư Tưởng Hồ Chí Minh</small></a>
                                    </div>
                                    <div class="score" style="text-align: right;">
                                        <span class="text-red">8.89</span>/10
                                    </div>
                                </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary-two">
            <div class="panel-heading">
                <div class="panel-heading-left clearfix">
                    <div class="title-block text-center">
                        <span>Thống kê truy cập</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">28</span>
                    </li>
                    <li>
                        <em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">5</span>
                    </li>
                    <li>
                        <em class="fa fa-magic fa-lg">&nbsp;</em> Máy chủ tìm kiếm <span class="pull-right">4</span>
                    </li>
                    <li>
                        <em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">19</span>
                    </li>
                </ul>
                <div class="nv-hr">&nbsp;</div>
                <ul class="nv-list-item">
                    <li>
                        <em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">12,593</span>
                    </li>
                    <li>
                        <em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">343,312</span>
                    </li>
                    <li>
                        <em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,173,559</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
