@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/vi/users/" itemprop="item" title="thông tin tài khoản">
                <span itemprop="name">Tài khoản sinh viên</span>
            </a><i class="hidden" itemprop="position" content="2"></i>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="content-heading row">
                    <div class="page panel panel-default">
                        <div class="panel-body">
                            <h2 class="margin-bottom-lg">Thông tin tài khoản</h2>
                            <div class="row">
                                <div style="display: flex;">
                                    <figure onclick="changeAvatar('/vi/users/avatar/upd/');" class="avatar left pointer">
                                        <div style="width:80px; margin-top: 10px;">
                                            <p class="text-center"><img src="/assets/images/user_u.jpg" alt="taduchoan" title="taduchoan" width="80" class="img-thumbnail bg-gainsboro m-bottom"></p>
                                        </div>
                                    </figure>
                                    <div>
                                        <ul class="nv-list-item xsm" style="margin-left: 20px;">
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Tài khoản: <strong>taduchoan</strong> (taduchoan5503@gmail.com)</li>
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Đăng nhập theo kiểu thông thường</li>
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Đăng nhập vào: Thứ ba, 03/12/2024 00:12</li>
                                            <li><em class="fa fa-angle-right">&nbsp;</em> Bằng IP: 42.116.146.254</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive margin-bottom-lg">
                        <table class="table table-bordered table-striped">
                            <colgroup>
                                <col style="width:45%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Họ tên</td>
                                    <td>Tạ Đức Hoàn</td>
                                </tr>
                                <tr>
                                    <td>Ngày tháng năm sinh</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>Giới tính</td>
                                    <td>Nam</td>
                                </tr>
                                <tr>
                                    <td>Hiển thị email</td>
                                    <td>Không</td>
                                </tr>
                                <tr>
                                    <td>Ngày tham gia</td>
                                    <td>27/10/2024</td>
                                </tr>
                                <tr>
                                    <td>Khả năng đăng nhập thông thường</td>
                                    <td>Có</td>
                                </tr>
                                <tr>
                                    <td>Xác thực hai bước</td>
                                    <td>Tắt (<a href="/vi/two-step-verification/">Thiết lập</a>)</td>
                                </tr>
                                <tr>
                                    <td>Lần truy cập trước</td>
                                    <td>Thứ ba, 03/12/2024 00:11</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/vi/users/editinfo/"><em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thiếp lập tài khoản</a></li>
                        <li><a href="/vi/users/logout/"><em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thoát</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary-two">
                <div class="panel-heading">
                    <div class="panel-heading-left clearfix">
                        <div class="icon-menu-left fl">&nbsp;</div>
                        <div class="icon-menu-right fr">&nbsp;</div>
                        <div class="title-block">
                            <span>Đăng nhập thành viên</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="content signed clearfix">
                        <div class="nv-info" style="display:none"></div>
                        <div class="userBlock">
                            <h3 class="text-center margin-bottom-lg"><span class="lev-user text-normal margin-right">Tài khoản:</span>Tạ Đức Hoàn</h3>
                            <div class="row margin-bottom-lg">
                                <div style="display: flex; gap: 20px;">
                                    <div class="col-xs-8 text-center">
                                        <a title="" href="#"><img src="/assets/images/user_u.jpg" alt="Tạ Đức Hoàn" class="img-thumbnail bg-gainsboro" style="width: 50px; height: 50px; margin-top: 10px;"></a>
                                    </div>
                                    <div class="col-xs-16">
                                        <ul class="nv-list-item sm">
                                            <li class="active">
                                                <a href="/User/Index">Thông tin thành viên</a>
                                            </li>
                                            <li>
                                                <a href="/User/UserBasic">Thiết lập tài khoản</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="display: flex; gap: 90px;">
                                    <div class="col-xs-16 small">
                                        <em class="fa fa-clock-o" title="Đăng nhập vào">&nbsp;</em>03/11, 00:36
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <button type="button" class="btn btn-default btn-sm active">
                                            <em class="fa fa-sign-out"></em>&nbsp;Thoát&nbsp;
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary-two">
                <div class="panel-heading">
                    <div class="panel-heading-left clearfix">
                        <div class="icon-menu-left fl">&nbsp;</div>
                        <div class="icon-menu-right fr">&nbsp;</div>
                        <div class="title-block">
                            <span>Thống kê truy cập</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="nv-list-item">
                        <li><em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">78</span></li>
                        <li><em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">9</span></li>
                        <li><em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">69</span></li>
                    </ul>
                    <div class="nv-hr">&nbsp;</div>
                    <ul class="nv-list-item">
                        <li><em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">510</span></li>
                        <li><em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">31,911</span></li>
                        <li><em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,275,125</span></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>