<div class="container">
    <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li class="home" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <em class="fa fa-lg fa-home">&nbsp;</em><a href="/vi/" itemprop="item" title="Trang nhất"><span itemprop="name">Trang nhất</span></a><i class="hidden" itemprop="position" content="1"></i>
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/vi/users/" itemprop="item" title="Tài khoản Sinh viên">
                <span itemprop="name">
                    Tài khoản
                    sinh viên
                </span>
            </a><i class="hidden" itemprop="position" content="2"></i>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-9">
            <div class="content">
                <div class="content-heading row">
                    <div class="page">
                        <h2 class="margin-bottom-lg margin-top-lg">Thiết lập tài khoản</h2>
                        <ul class="users-menu nav nav-pills margin-bottom">
                            <li>
                                <a class="nav-link active" data-toggle="tab" data-bs-toggle="tab" aria-selected="false" href="#edit_basic">Cơ bản</a>
                            </li>
                            <li>
                                <a class="nav-link" data-toggle="tab" data-bs-toggle="tab" aria-selected="false" href="#edit_password">Mật khẩu</a>
                            </li>
                        </ul>

                        <div class="tab-content margin-bottom-lg">

                            <div id="edit_basic" class="tab-pane fade show in active">
                                <div class="page panel panel-default">
                                    <div class="panel-body bg-lavender">
                                        <form action="/vi/users/editinfo/basic/" method="post" role="form" class="form-horizontal">
                                            <div class="nv-info margin-bottom" style="display:none"></div>
                                            <div class="form-detail">
                                                <div class="form-group">
                                                    <label for="first_name" class="control-label col-md-6 text-normal">
                                                        Họ và
                                                        tên
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control required input" placeholder="Họ và tên" value="Tạ Đức Hoàn" name="first_name" maxlength="100">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="gender" class="control-label col-md-6 text-normal">
                                                        Giới
                                                        tính
                                                    </label>
                                                    <div class="col-md-12">
                                                        <div class="clearfix radio-box  input" data-mess="" style="margin-top: 5px;">
                                                            <label class="radio-box">
                                                                <input type="radio" name="gender" value="M" class="input"> Nam
                                                            </label>
                                                            <label class="radio-box">
                                                                <input type="radio" name="gender" value="F" class="input"> Nữ
                                                            </label>
                                                            <label class="radio-box">
                                                                <input type="radio" name="gender" value="N" class="input"> N/A
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="birthday" class="control-label col-md-6 text-normal">
                                                        Ngày tháng
                                                        năm sinh
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control calendar-icon datepicker  input" style="margin-left: 30px;" name="birthday" value="" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="view_mail" class="control-label col-md-6 text-normal">
                                                        Hiển thị
                                                        email
                                                    </label>
                                                    <div class="col-md-4" style="margin-left: 30px;">
                                                        <select name="view_mail" class="form-control">
                                                            <option value="0">Không</option>
                                                            <option value="1">Có</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6" style="margin-left: 30px;">
                                                        <input type="hidden" name="checkss" value="a11fef01161cc59e5580548d908237c5">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="button" value="Thiết lập lại" class="btn btn-default" onclick="validReset(this.form);return!1;">
                                                        <input type="submit" class="btn btn-primary" value="Chấp nhận">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="edit_password" class="tab-pane fade ">
                                <div class="page panel panel-default">
                                    <div class="panel-body bg-lavender">
                                        <form action="/vi/users/editinfo/password/" method="post" role="form" class="form-horizontal" autocomplete="off" novalidate="">
                                            <div class="nv-info margin-bottom" data-default="" style="display:none"></div>

                                            <div class="form-detail">
                                                <div class="form-group">
                                                    <label for="nv_password" class="control-label col-md-6 text-normal">
                                                        Mật khẩu
                                                        cũ
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="password" autocomplete="off" class="required form-control" placeholder="Mật khẩu cũ" value="" name="nv_password" maxlength="32" data-pattern="/^(.){8,32}$/" data-mess="Chú ý: Bạn cần khai báo tất cả các ô có đánh dấu hoa thị (*).">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="new_password" class="control-label col-md-6 text-normal">
                                                        Mật khẩu
                                                        mới
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="password" autocomplete="off" class="required form-control" placeholder="Mật khẩu mới" value="" name="new_password" maxlength="32" data-pattern="/^(.){8,32}$/" data-mess="Trường này là bắt buộc.">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="re_password" class="control-label col-md-6 text-normal">
                                                        Nhập lại mật
                                                        khẩu mới
                                                    </label>
                                                    <div class="col-md-12">
                                                        <input type="password" autocomplete="off" class="required form-control" placeholder="Nhập lại mật khẩu mới" value="" name="re_password" maxlength="32" data-pattern="/^(.){8,32}$/" data-mess="Trường này là bắt buộc.">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <input type="hidden" name="checkss" value="a11fef01161cc59e5580548d908237c5">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="button" value="Thiết lập lại" style="margin-left: 30px;" class="btn btn-default">
                                                        <input type="submit" class="btn btn-primary" value="Chấp nhận">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/vi/users/">
                                    <em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thông
                                    tin thành viên
                                </a>
                            </li>
                            <li>
                                <a href="/vi/users/logout/"><em class="fa fa-caret-right margin-right-sm" style="margin-right: 10px;"></em>Thoát</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary-two">
                <div class="panel-heading">
                    <div class="panel-heading-left clearfix">
                        <div class="icon-menu-left fl">&nbsp;</div>
                        <div class="icon-menu-right fr">&nbsp;</div>
                        <div class="title-block">
                            <span>Đăng nhập thành viên</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="content signed clearfix">
                        <div class="nv-info" style="display:none"></div>
                        <div class="userBlock">
                            <h3 class="text-center margin-bottom-lg"><span class="lev-user text-normal margin-right">Tài khoản:</span>Tạ Đức Hoàn</h3>
                            <div class="row margin-bottom-lg">
                                <div style="display: flex; gap: 20px;">
                                    <div class="col-xs-8 text-center">
                                        <a title="" href="#"><img src="/assets/images/user.jpg" alt="Tạ Đức Hoàn" class="img-thumbnail bg-gainsboro" style="width: 50px; height: 50px; margin-top: 10px;"></a>
                                    </div>
                                    <div class="col-xs-16">
                                        <ul class="nv-list-item sm">
                                            <li class="active">
                                                <a href="/User/Index">Thông tin thành viên</a>
                                            </li>
                                            <li>
                                                <a href="/User/UserBasic">Thiết lập tài khoản</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="display: flex; gap: 90px;">
                                    <div class="col-xs-16 small">
                                        <em class="fa fa-clock-o" title="Đăng nhập vào">&nbsp;</em>03/11, 00:36
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <button type="button" class="btn btn-default btn-sm active">
                                            <em class="fa fa-sign-out"></em>&nbsp;Thoát&nbsp;
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary-two">
                <div class="panel-heading">
                    <div class="panel-heading-left clearfix">
                        <div class="icon-menu-left fl">&nbsp;</div>
                        <div class="icon-menu-right fr">&nbsp;</div>
                        <div class="title-block">
                            <span>Thống kê truy cập</span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="nv-list-item">
                        <li><em class="fa fa-bolt fa-lg">&nbsp;</em> Đang truy cập <span class="pull-right">78</span></li>
                        <li><em class="fa fa-user fa-lg">&nbsp;</em> Thành viên online <span class="pull-right">9</span></li>
                        <li><em class="fa fa-bullseye fa-lg">&nbsp;</em> Khách viếng thăm <span class="pull-right">69</span></li>
                    </ul>
                    <div class="nv-hr">&nbsp;</div>
                    <ul class="nv-list-item">
                        <li><em class="fa fa-filter fa-lg">&nbsp;</em> Hôm nay <span class="pull-right">510</span></li>
                        <li><em class="fa fa-calendar-o fa-lg">&nbsp;</em> Tháng hiện tại <span class="pull-right">31,911</span></li>
                        <li><em class="fa fa-bars fa-lg">&nbsp;</em> Tổng lượt truy cập <span class="pull-right">17,275,125</span></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>